@charset "UTF-8";

/*Предварительно установить шрифты в систему и перезапустить браузер*/
@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("/css/fonts/Helvetica/HelveticaNeueCyr-Bold.eot");
  src: url("/css/fonts/Helvetica/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), 
  url("/css/fonts/Helvetica/HelveticaNeueCyr-Bold.woff2") format("woff2"), 
  url("/css/fonts/Helvetica/HelveticaNeueCyr-Bold.woff") format("woff"), 
  url("/css/fonts/Helvetica/HelveticaNeueCyr-Bold.ttf") format("truetype"), 
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/css/fonts/Helvetica/HelveticaNeueCyr-Thin.eot");
  src: url("/css/fonts/Helvetica/HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype"), 
  url("/css/fonts/Helvetica/HelveticaNeueCyr-Thin.woff2") format("woff2"), 
  url("/css/fonts/Helvetica/HelveticaNeueCyr-Thin.woff") format("woff"), 
  url("/css/fonts/Helvetica/HelveticaNeueCyr-Thin.ttf") format("truetype"), 
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/css/fonts/Helvetica/HelveticaNeueCyr-Black.eot");
    src: url("/css/fonts/Helvetica/HelveticaNeueCyr-Black.eot?#iefix") format("embedded-opentype"), 
    url("/css/fonts/Helvetica/HelveticaNeueCyr-Black.woff2") format("woff2"), 
    url("/css/fonts/Helvetica/HelveticaNeueCyr-Black.woff") format("woff"), 
    url("/css/fonts/Helvetica/HelveticaNeueCyr-Black.ttf") format("truetype"), 
  }
  @font-face {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 550;
    font-display: swap;
    src: url("/css/fonts/Helvetica/HelveticaNeueCyr-Medium.eot");
    src: url("/css/fonts/Helvetica/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), 
    url("/css/fonts/Helvetica/HelveticaNeueCyr-Medium.woff2") format("woff2"), 
    url("/css/fonts/Helvetica/HelveticaNeueCyr-Medium.woff") format("woff"), 
    url("/css/fonts/Helvetica/HelveticaNeueCyr-Medium.ttf") format("truetype"), 
  }
  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("/css/fonts/gilroy/Gilroy-ExtraBold.eot");
    src: url("/css/fonts/gilroy/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), 
    url("/css/fonts/gilroy/Gilroy-ExtraBold.woff2") format("woff2"), 
    url("/css/fonts/gilroy/Gilroy-ExtraBold.woff") format("woff"), 
    url("/css/fonts/gilroy/Gilroy-ExtraBold.ttf") format("truetype"), 
  }
  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("/css/fonts/gilroy/Gilroy-Light.eot");
    src: url("/css/fonts/gilroy/Gilroy-Light.eot?#iefix") format("embedded-opentype"), 
    url("/css/fonts/gilroy/Gilroy-Light.woff2") format("woff2"), 
    url("/css/fonts/gilroy/Gilroy-Light.woff") format("woff"), 
    url("/css/fonts/gilroy/Gilroy-Light.ttf") format("truetype"), 
  }
*{
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}
*:active,*:focus{
  outline:none
}
a {
    outline: none;
    text-decoration: none;
}
body {
    min-width: 320px;
    position: relative;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: #FFFFFF
}
.wrap {
    width: 100%;
    position: relative;
    max-width: 1214px;
    margin: 0 auto;
    padding: 0 20px
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
}

/* шрифт-размер*/
.fsz8 {
    font-size: 8px;
}
.fsz12 {
    font-size: 12px;
}
.fsz14 {
    font-size: 14px;
}
.fsz16 {
    font-size: 16px;
}
.fsz18 {
    font-size: 18px;
}
.fsz36 {
    font-size: 36px;
}
.fsz40 {
    font-size: 40px;
}
.fsz50 {
    font-size: 50px;
}
/* шрифт-размер*/





/* цвет*/
/* цвет-текста */
.black {
    color: #000000;
}
.hex {
    color: #212121;
}
.white {
    color: #ffffff;
}
.white2 {
    color: #F6F6F6;
}
.green {
    color: #5F8806;
}
.hex2 {
    color: #959595;
}
/* .gray {
    color: #5B5B5B;
} */
.gray2 {
    color: #A9A29E;
}
/* цвет-текста */




/* цвет фона */
.bg-white {
    background: #FFFFFF;
}
.bg-green {
    background: #5F8806;
}
.bg-blue {
    background: #48A9CF;
}
.bg-pink {
    background: #F5F4FA;
}
.bg-grey {
    background: #8392A3;
}
/* цвет фона */
/* цвет*/

/* Display-flex */
.df {
    display: flex;
}
.df-column {
    display: flex;
    flex-direction: column;
}
.df-row{
    display: flex;
    flex-direction: row;
}
/* Display-flex */

/* Button */
.green-bt {
    text-align: center;
    width: 180px;
    height: 45px;
    border-radius: 3px;
    padding: 13px 25px 15px 25px;
    cursor: pointer;
}
/* Button */


/* Ховеры */
.header-nav-item p{
    border-bottom: 1px solid transparent;
}
.header-nav-item:hover p{
    border-bottom: 1px solid #ffffff;
    transition: 0.3s;
}
/* Ховеры */





.header {
    padding-top: 12px;
}
.header-body {
    align-items: center;
}
.header-wrapper {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}
.header-logo {
    align-items: center;
}
.header-logo img:nth-child(2){
    margin-left: 30px;
    margin-right: 30px;
}
.header-logo p {
    line-height: 12px;
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: normal;
}
.hedaer-info {
    align-items: center;
}
.header-info-one {
    margin-right: 50px;
}
.header-info-one a img {
    margin-right: 10px;
}
.header-info-one a {
    margin-bottom: 14px;
    cursor: pointer;
}
.header-info-one a:last-child {
    margin-bottom: 0;
}
.header-info-one__email {
}
.header-info-two {
    flex-direction: column;
}
.header-info-two a {
    align-items: center;
    cursor: pointer;
}
.header-info-two a img {
    margin-right: 10px;
}
.header-info-two a p {
    flex-direction: column;
}
.header-info-two a p:nth-child(1) {
    margin-left: 20px;
    margin-top: 9px;
}
.header-info-two a p span {
    margin-top: 3px;
}
.header-btn {
}
.header-nav {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 18px 0px;
}
.header-nav-item {
    align-items: center;
    cursor: pointer;
    margin-right: 54px;
}
.header-nav-item:last-child {
    margin-right: 0;
}
.header-nav-item p {
    margin-left: 9px;
}
.header-nav-item p:nth-child(2){
    margin-right: 9px;
}


.promo {
    background-image: url(/css/img/promo-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top: 41px;
    width: 100%;
    height: 550px;
}
.promo-container {
    transform: translateY(90px);
}
.promo-info {
    margin-top: 182px;
    margin-bottom: 31px;
}
.promo-info h1 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    line-height: 44px;
    margin-bottom: 15px;
}
.promo-info p {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 550;
    line-height: 18px;
    margin-bottom: 35px;
    max-width: 295px;
}
.promo-info a {
    max-width: 240px;
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 550;
    line-height: 16px;
    padding: 15px 18px 15px 24px;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 3px;
}
.promo-block {
    padding: 27.01px 0px 26px 70px;
    align-items: center;
    box-shadow: 0px 4px 20px #DFDFDF;
}
.promo-block-job {
}
.promo-block-job span {
    margin-bottom: 19px;
    max-width: 120px;
}
.promo-block-job img {
    width: 30px;
}
.promo-block-item {
    margin-right: 34px;
    margin-left: 40px;

}
.line {
    width: 1px;
    height: 130px;
    background: #C4C4C4;
}

.promo-block-item img {
    width: 25px;
    height: 25px;
    margin-bottom: 20px;
}
.promo-block-item span {
    margin-bottom: 11px;
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 550;
    line-height: 14px;
    max-width: 178px;
}

.promo-block-item p {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: normal;
    line-height: 14px;
}

.about {
    padding-bottom: 162px;
    margin-top: 230px;
}
.about-container {
    justify-content: space-around;
    width: 100%;
}
.about-text {
}
.about-text h2 {
    margin-bottom: 46px;
}
.about-text-content {
}
.about-text-content p {
    max-width: 470px;
}
.about-text-content p span {

}
.line2 {
    width: 55px;
    height: 2px;
    background: #646464;
    margin-right: 22px;
}
.about-img {
    position: relative;
}
.about-img-elem {
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 100px;
    position: absolute;
    padding: 46px 20px 46px 20px;
    left: -80px;
    bottom: -70px;

}


.direction {

}
.direction-container {
    padding-top: 63px;
}
.direction-container h2 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    line-height: 44px
}
.direction-content {
    margin-top: 64px;
    justify-content: space-between;
    padding-bottom: 99px;
}
.direction-item {
    width: 320px;
    height: 380px;
    border-radius: 3px;
    position: relative;
    justify-content: space-around;

}
.direction-item:hover .direction-item-shadow {
    z-index: 8;
}
.direction-item img {
    position: absolute;
    z-index: 10;
}
.direction-item-text {
z-index: 20;
padding-left: 41px;

}
.direction-item-text h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    line-height: 60px;
    margin-bottom: 88px;
}
.direction-item-text:nth-child(1) h3{
    margin-bottom: 56px;
}
.direction-item-text p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    text-transform: uppercase;
    position: relative;
}
.direction-item-text span {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    position: absolute;
    bottom: 34px;
}
.direction-item-img {
    justify-content: flex-end;
    padding-right: 41px;

}
.direction-item-img img {

}
.direction-item-shadow {
    background: linear-gradient(0deg, rgba(24, 25, 32, 0.2), rgba(24, 25, 32, 0.2)), url(Металлоизделия.jpg);
    border-radius: 3px;
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 100%;
}


.step {
    padding-top: 113px;
    padding-bottom: 124px;
}
.step-container {
}
.step-container h2 {
    margin-bottom: 100px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    line-height: 44px;
}
.step-content {
    justify-content: space-between;
    margin-bottom: 41px;
}
.step-content:nth-child(3) {
    margin-bottom: 0;
    justify-content: flex-start;
}
.step-content:nth-child(3) .step-item:nth-child(1) {
    margin-right: 340px;
}
.step-item {
    
}
.step-item span {
    max-width: 258px;
    margin-bottom: 30px;
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
}
.step-item p {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
}
.step-item img{
    width: 48px;
    height: 48px;
    margin-bottom: 22px;
}

.friends {
    padding-top: 31px;
    padding-bottom: 85px;
}
.friends-container {
}
.friends-container h2 {
    margin-bottom: 49px;
}
.friebds-content .swiper-container{
    position: inherit;
}
.swiper-container {
    width: 100%;
    height: 300px;
    
  }
.swiper-wrapper {
    display: flex;
    align-items: center;
}
.swiper-slide {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

}
.swiper-container .swiper-button-prev{
    background-image: url(/css/img/svg/arrow-right.svg);
    background-repeat: no-repeat;
    left: 1px;
    top: 63%;
}
.swiper-container .swiper-button-next{
    background-image: url(/css/img/svg/arrow-left.svg);
    background-repeat: no-repeat;
    right: -1px;
    top: 62%;

}
.swiper-button-prev::after,.swiper-button-next::after{
    display:none
  }



.contacts {
    padding-top: 110px;
    padding-bottom: 51px;
}
.contacts-title {
    margin-bottom: 40px;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
}
.contacts-content {
    justify-content: space-between;
}
.contacts-item {
}
.contacts-item-title {
    margin-bottom: 20px;
}
.contacts-item-title span {
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
}
.contacts-item-title img {
    margin-right: 12px;
}
.contacts-item-number {
}
.contacts-item-number a {
    margin-bottom: 5px;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 550;
    line-height: 16px;
}
.contacts-item-number p {
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
}
.contacts-item-number:nth-child(2) {
    margin-bottom: 29px;
}
.contacts-item-adrees {
}
.contacts-item-adrees p {
    max-width: 202px;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
}
.contacts-item-email a{
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
}


.plast {
}
.plast-form {
}
.plast-form-content {
}
.plast-form-item {
}
.plast-form-container {
}
.plast-form-container-check {
}