@media screen and (max-width: 1200px){
    .header-info {
        display: none;
    }
    .header-btn {
        display: none;
    }
    .header-burger {
        position: relative; /* задаем относительное позиционирование */
        width: 40px; /* определяем размеры блока */
        height: 35px;
        display: block;
        margin-left: 10px;
        z-index: 20;
        
    }
    .header-burger span, .header-burger:after, .header-burger:before{
        height: 3px;
        width: 100%;
        position: absolute;
        background: #515758;
        margin: 0 auto;
        transition: 0.4s;

    }
    .header-burger span{
        top: 17px;
    }
    .header-burger:after, .header-burger:before{
        content: '';
    }
    .header-burger:after{
        bottom: 5px;
    }
    .header-burger:before{
        top: 5px;
    }
    .header-burger.open-menu span {
        opacity:0; 
        transition: 0.2s; 
    }
    .header-burger.open-menu:before {
        transform: rotate(45deg);
        top: 16px;
        transition: 0.4s;
    }
    .header-burger.open-menu:after {
        transform: rotate(-45deg);
        bottom: 16px;
        transition: 0.4s;
    }
    .header-media {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 90%;
        right: -800px;
        opacity: 0;
        pointer-events: none;
        transition: 0.5s;
        background: #FFFFFF;
        padding: 20px 0px;
        width: 50%;
        height: 100vh;
        z-index: 100;
        display: none;
    }
    .header-media__active {
        right: 0px;
        opacity: 1;
        pointer-events: all;
        transition: 0.5s;
        display: flex;
    }
    .header-info-one {
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        order: 2;
    }
    .header-info-one a p {
        font-size: 14px;
    }
    .header-info-two {
        margin-bottom: 20px;
        order: 0;
    }
    .header-info-two a p{
        font-size: 16px;
    }
    .header-info-two a p span {
        font-size: 14px;
    }
    .header-info-two a p:nth-child(1) {
        margin-left: 27px;
    }
    .header-media a {
        order: 1;
    }
    .adapt-none {
        display: none;
    }
    .header-line-adapt {
        height: 50px;
    }
    .header-nav-drop {
        background: none;
        display: flex;
        flex-direction: column;
    }
    .header-nav-item {
        margin-right: 0;
        margin-top: 10px;
    }
    .header-nav-item img {
        display: none;
    }
    .header-nav-item p{
        color: #000;
        font-size: 18px;
    }
    .header-nav-item:hover p{
        border-bottom: 1px solid #000000;
        transition: 0.3s;
    }

    .next-nav-container {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ploshad-elem {
        width: 687px;
        height: 253px;
        background-size: 100% 100%;
        margin-bottom: 30px;
    }
    .poli-elem {
        margin-right: 0;
    }
    .next-nav-one-content {
        flex-wrap: wrap;
        justify-content: center;
    }
    .urn-elem {
        margin-left: 41px;
        margin-bottom: 30px;
    }
    .footer-top-nav-link {
        max-width: 200px;
        line-height: 18px;
    }
    
    .project-full {
        margin-top: 86px;
    }
    .project-full-text {
        padding: 52px 20px 50px 50px;
        width: 697px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project-full-img img{
        width: 100%;
    }
    .project-full-container {
        flex-direction: column;
    }
    .info-product-container {
        padding: 30px 35px 45px 35px;
    }

    .jobs-big-foto {
        max-width: 100%;
    }
    .jobs-img {
        margin-right: 30px;
    }
    
    .jobs-two-big-foto {
        max-width: 100%;
    }
    .jobs-two-img {
        margin-left: 30px;
    }
    .jobs-three-big-foto {
        max-width: 100%;
    }
    .jobs-three-img {
        margin-right: 30px;
    }

    .jobs-four-big-foto {
        max-width: 100%;
    }
    .jobs-four-img {
        margin-left: 30px;
    }
    .buy-content-img-mini {
        margin-right: 20px;
    }
    .buy-big-img {
        max-width: 375px;
    }
    .about-product-slider-img {
        object-fit: none;
    }
}
@media screen and (max-width: 992px){
    .metal-elem {
        margin-right: 20px;
    }
    .next-one-item3 {
        width: 100%;
    }
    .ploshad-elem {
        width: 100%;
    }
    .urn-elem {
        margin-right: 20px;
        margin-left: 25px;

    }
    .velo-elem {
        margin-right: 20px;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-top-info-rezhim {
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .footer-top-info-rezhim-img {
        display: none;
    }
    .footer-top-info-mail {
        margin-bottom: 20px;
    }
    .footer-top-number-btn-text {
        padding: 14px 25px 15px 25px; 
    }
    .footer-top-logo {
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .footer-top-number-tel-img {
        display: none;
    }
    .footer-top-number-tel:nth-child(2) {
        margin-left: 0;
    }
    .project-full-content-text {
        max-width: 370px;
    }
    .info-product-content {
        flex-direction: column;
        align-items: center;
    }
    .info-product-input {
        margin-bottom: 30px;
    }
    .jobs-img {
        display: flex;
        flex-direction: row-reverse;
    }
    .jobs-img-mini {
        display: flex;
        flex-direction: column;
    }
    .jobs {
        padding-bottom: 50px;
    }
    .jobs-content-title {
        font-size: 30px;
        line-height: 28px;
        margin-bottom: 20px;
    }
    .jobs-two-img {
        display: flex;
        flex-direction: row;
    }
    .jobs-two-img-mini {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    .jobs-two {
        padding-bottom: 50px;
    }
    .jobs-two-content-title {
        font-size: 30px;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .jobs-three-img {
        display: flex;
        flex-direction: row-reverse;
    }
    .jobs-three-img-mini {
        display: flex;
        flex-direction: column;
    }
    .jobs-three {
        padding-bottom: 50px;
    }
    .jobs-three-content-title {
        font-size: 30px;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .jobs-four-img {
        display: flex;
        flex-direction: row;
    }
    .jobs-four-img-mini {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    .jobs-four {
        padding-bottom: 50px;
    }
    .jobs-four-content-title {
        font-size: 30px;
        line-height: 28px;
        margin-bottom: 20px;
    }
    .buy-big-img {
        max-width: 250px;
    }
    .buy-content-img-mini {
        padding-top: 0;
    }
    .buy-title {
        font-size: 25px;
        margin-bottom: 12px;
    }
    .buy {
        padding-top: 45px;
    }
    .buy-price-text {
        font-size: 30px;
    }
    .buy-content-price {
        padding: 24px 38px 34px 22px;
    }
    .buy-content-img-mini {
        margin-right: 12px;
    }
}
@media screen and (max-width: 768px){
    .header-media {
        width: 100%;
    }
    .header-logo img:nth-child(2) {
        display: none;
    }
    .header-logo img {
        margin-right: 20px;
    }
    .next-nav-one-content {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
 
    .metal-elem {
        width: 294px;
        background-position: center center;
        margin-right: 0;
        margin-bottom: 30px;
        height: 184px;

    }
    .poli-elem {
        width: 294px;
        height: 184px;

    }
    .next-one-item {
        padding-left: 0px;
        padding-top: 0px;
        padding: 10px 20px;
        align-items: center;
        text-align: center;
        width: 294px;
        height: 184px;

    }
    .next-nav {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .urn-elem {
        width: 294px;
        margin-left: 0;
        margin-right: 0;
        height: 184px;

    }
    .velo-elem {
        width: 294px;
        margin-right: 0;
        margin-bottom: 30px;
        height: 184px;

    }
    .bench-elem {
        width: 294px;
        height: 184px;

    }
    .ploshad-elem {
        width: 294px;
        align-items: center;
        text-align: center;
        padding: 20px 20px;
        height: 184px;

    }
    .next-one-item3 {
        align-items: center;
        text-align: center;
        padding: 20px 20px;
        height: 184px;

    }

    .footer-bottom {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 40px;
    }
    .footer-bottom-img {
        margin-top: 20px;
        order: 1;
    }
    .footer-bottom-social {
        order: 0;
    }
    .footer-bottom-social-text {
        order: 0;
    }
    .footer-bottom-social-viber {
        order: 1;
    }
    .footer-bottom-social-link  {
        order: 2;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .project-full-text {
        width: 100%;
    }
    .project-full-content {
        margin-top: 80px;
        flex-direction: column;
        align-items: center;
    }
    .project-full-content-title {
        margin-bottom: 30px;
    }
    .project-full-content-text {
        width: 100%;
    }
    .swiper-slide {
        align-items: center;
    }
    .production-swiper-container {
        height: 500px;
    }
    .project-full {
        margin-bottom: 70px;
    }
    .info-product-container {
        padding: 30px 10px 40px 10px;
    }
    .jobs-img-mini {
        margin-top: 0;
    }
    .jobs-mini-foto {
        width: 40px;
        height: 40px;
    }
    .jobs-big-foto {
        max-width: 260px;
    }
    .jobs-container {
        flex-direction: column;
        align-items: center;
    }
    .jobs-content {
        margin-top: 30px;
    }
    .jobs-title {
        margin-bottom: 30px;
        font-size: 30px;
    }
    .jobs-content-title {
        font-size: 26px;
    }

    .jobs-two-img-mini {
        margin-top: 0;
    }
    .jobs-two-mini-foto {
        width: 40px;
        height: 40px;
    }
    .jobs-two-big-foto {
        max-width: 260px;
    }
    .jobs-two-container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .jobs-two-content {
        margin-top: 30px;
    }
    .jobs-two-title {
        margin-bottom: 30px;
        font-size: 30px;
    }
    .jobs-two-content-title {
        font-size: 26px;
    }
    .jobs-two {
        margin-top: 0;
    }
    .jobs-two-img {
        margin-left: 0;
    }

    .jobs-three-img-mini {
        margin-top: 0;
    }
    .jobs-three-mini-foto {
        width: 40px;
        height: 40px;
    }
    .jobs-three-big-foto {
        max-width: 260px;
    }
    .jobs-three-container {
        flex-direction: column;
        align-items: center;
    }
    .jobs-three-content {
        margin-top: 30px;
    }
    .jobs-three-title {
        margin-bottom: 30px;
        font-size: 30px;
    }
    .jobs-three-content-title {
        font-size: 26px;
    }
    .jobs-three {
        margin-top: 0px;
    }


    .jobs-four-img-mini {
        margin-top: 0;
    }
    .jobs-four-mini-foto {
        width: 40px;
        height: 40px;
    }
    .jobs-four-big-foto {
        max-width: 260px;
    }
    .jobs-four-container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .jobs-four-content {
        margin-top: 30px;
    }
    .jobs-four-title {
        margin-bottom: 30px;
        font-size: 30px;
    }
    .jobs-four-content-title {
        font-size: 26px;
    }
    .jobs-four {
        margin-top: 0;
    }
    .jobs-four-img {
        margin-left: 0;
    }
    .buy-container {
        flex-direction: column;
    }
    .buy-title {
        width: 100%;
    }
    .tabs {
        padding-bottom: 60px;
    }
    .tabs-bottom {
        margin-top: 0;
    }
    .gotovo-slider-img {
        width: auto;
        object-fit: none;
    }
    .info-product-title {
        text-align: center;
        font-size: 30px;
    }
}
@media screen and (max-width: 480px){
    .header-info-one a {
        max-width: 280px;
    }
    .header-logo p {
        display: none;
    }
    .project-full-title {
        font-size: 30px;
        line-height: 28px;
        margin-bottom: 30px;
    }
    .project-full-text {
        padding: 35px 20px 50px 20px;

    }
    .project-full-text-p {
        margin-bottom: 15px;
    }
    .project-full-content-title {
        font-size: 30px;
        line-height: 28px;
    }
    .gotovo-slider-img {
        width: 100%;
        object-fit: cover;
    }
    .gotovo-title {
        font-size: 30px;
        text-align: center;
    }
    .imazing-flex {
        flex-direction: column;
    }
    .imazing-btn {
        margin-top: 25px;
    }
    .info-product-text {
        margin-top: 20px;
    }
    .jobs {
        margin-top: 50px;
    }
    .buy-title {
        text-align: center;
        line-height: 30px;
        max-width: 280px;
    }
    .buy-content {
        margin-top: 20px;
    }
    .buy-content-img {
        flex-direction: column-reverse;
    }
    .buy-content-img-mini {
        margin-right: 0;
        flex-direction: row;
    }
    .buy-mini-img {
        margin-top: 0;
        margin-right: 10px;
    }
    .buy-content-price {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .buy-price-text {
        margin-bottom: 20px;
    }
    .tabs-block {
        margin-top: 30px;
    }
    .about-product-slider-img {
        object-fit: contain;
    }
    .gotovo-slider-img {
        object-fit: contain;
    }
    .info-product-title {
        font-size: 25px;
        line-height: 30px;
    }
}
@media screen and (max-width: 375px){
    .jobs-img {
        margin-right: 0;
    }
    .jobs-two-img {
        margin-right: 0;
    }
    .jobs-two-img-mini {
        margin-left: 5px;
    }
    .jobs-three-img {
        margin-right: 0;
    }
    .jobs-four-img {
        margin-right: 0;
    }
    .jobs-four-img-mini {
        margin-left: 5px;
    }
    .buy-content-price {
        padding: 24px 15px 30px 15px;
    }
    .buy-big-img {
        max-width: 100%;
    }
    .buy-content {
        width: 100%;
    }
    .buy-price-text-two {
        width: 100%;
    }
    .info-product-title {
        font-size: 20px;
        line-height: 25px;
        transform: translateY(-31px);

    }
}
@media screen and (max-width: 320px){

}