@media screen and (max-width: 1500px) {
    .promo-production {
        margin-top: 12px;
        height: 450px;
    }
}
@media screen and (max-width: 1200px){
    .header-info {
        display: none;
    }
    .header-btn {
        display: none;
    }
    .header-burger {
        position: relative; /* задаем относительное позиционирование */
        width: 40px; /* определяем размеры блока */
        height: 35px;
        display: block;
        margin-left: 10px;
        z-index: 20;
        cursor: pointer;
    }
    .header-burger span, .header-burger:after, .header-burger:before{
        height: 3px;
        width: 100%;
        position: absolute;
        background: #515758;
        margin: 0 auto;
        transition: 0.4s;

    }
    .header-burger span{
        top: 17px;
    }
    .header-burger:after, .header-burger:before{
        content: '';
    }
    .header-burger:after{
        bottom: 5px;
    }
    .header-burger:before{
        top: 5px;
    }
    .header-burger.open-menu span {
        opacity:0; 
        transition: 0.2s; 
    }
    .header-burger.open-menu:before {
        transform: rotate(45deg);
        top: 16px;
        transition: 0.4s;
    }
    .header-burger.open-menu:after {
        transform: rotate(-45deg);
        bottom: 16px;
        transition: 0.4s;
    }
    .header-media {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 90%;
        right: -800px;
        opacity: 0;
        pointer-events: none;
        transition: 0.5s;
        background: #FFFFFF;
        padding: 20px 0px;
        width: 50%;
        height: 100vh;
        z-index: 100;
        display: none;
    }
    .header-media__active {
        right: 0px;
        opacity: 1;
        pointer-events: all;
        transition: 0.5s;
        display: flex;
    }
    .header-info-one {
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        order: 2;
    }
    .header-info-one a p {
        font-size: 14px;
    }
    .header-info-two {
        margin-bottom: 20px;
        order: 0;
    }
    .header-info-two a p{
        font-size: 16px;
    }
    .header-info-two a p span {
        font-size: 14px;
    }
    .header-info-two a p:nth-child(1) {
        margin-left: 27px;
    }
    .header-media a {
        order: 1;
    }
    .adapt-none {
        display: none;
    }
    .header-line-adapt {
        height: 50px;
    }
    .header-nav-drop {
        background: none;
        display: flex;
        flex-direction: column;
    }
    .header-nav-item {
        margin-right: 0;
        margin-top: 10px;
    }
    .header-nav-item img {
        display: none;
    }
    .header-nav-item p{
        color: #000;
        font-size: 18px;
    }
    .header-nav-item:hover p{
        border-bottom: 1px solid #000000;
        transition: 0.3s;
    }

    .next-nav-container {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ploshad-elem {
        width: 687px;
        height: 253px;
        background-size: 100% 100%;
        margin-bottom: 30px;
    }
    .poli-elem {
        margin-right: 0;
    }
    .next-nav-one-content {
        flex-wrap: wrap;
        justify-content: center;
    }
    .urn-elem {
        margin-left: 41px;
        margin-bottom: 30px;
    }
    .footer-top-nav-link {
        max-width: 200px;
        line-height: 18px;
    }
    
    .project-full {
        margin-top: 86px;
    }
    .project-full-text {
        padding: 52px 20px 50px 50px;
        width: 697px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project-full-img img{
        width: 100%;
    }
    .project-full-container {
        flex-direction: column;
    }
    .info-product-container {
        padding: 30px 35px 45px 35px;
    }

    .jobs-big-foto {
        max-width: 100%;
    }
    .jobs-img {
        margin-right: 30px;
    }
    
    .jobs-two-big-foto {
        max-width: 100%;
    }
    .jobs-two-img {
        margin-left: 30px;
    }
    .jobs-three-big-foto {
        max-width: 100%;
    }
    .jobs-three-img {
        margin-right: 30px;
    }

    .jobs-four-big-foto {
        max-width: 100%;
    }
    .jobs-four-img {
        margin-left: 30px;
    }
    .buy-content-img-mini {
        margin-right: 20px;
    }
    .buy-big-img {
        max-width: 375px;
    }
    .about-product-slider-img {
        object-fit: none;
    }
    .promo {
        background-size: 100% 100%;

    }
    .promo-container {
        transform: translateY(18px);
    }
    .promo-block-item {
        margin-right: 18px;
        margin-left: 13px;
    }
    .promo-block {
        padding: 27.01px 0px 26px 18px;
        width: 100%;
    }
    .about-container {
        justify-content: space-between;
    }
    .about-img-elem {
        padding-left: 30px;
    }
    .direction-item {
        width: 260px;
    }
    .direction-item img {
        max-width: 260px;
        max-height: 380px;
    }
    .direction-item-shadow {
        height: 310px;
    }
    .direction-item-text h3 {
        margin-bottom: 28px;
    }
    .direction-item-text span {
        bottom: 71px;
    }
    .promo-info {
        margin-top: 20px;
    }   
    .promo-production {
        background-size: 100% auto;
        height: 490px;

    }
    .line-step {
        max-width: 1020px;
        width: 100%;
    position: absolute;
    top: 160px;
    z-index: -1;
    }
    .line-step2 {
        max-width: 800px;
        width: 100%;
        position: absolute;
        bottom: 130px;
        z-index: -1;
    }
}
@media screen and (max-width: 992px){
    .metal-elem {
        margin-right: 20px;
    }
    .next-one-item3 {
        width: 100%;
    }
    .ploshad-elem {
        width: 100%;
    }
    .urn-elem {
        margin-right: 20px;
        margin-left: 25px;

    }
    .velo-elem {
        margin-right: 20px;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-top-info-rezhim {
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .footer-top-info-rezhim-img {
        display: none;
    }
    .footer-top-info-mail {
        margin-bottom: 20px;
    }
    .footer-top-number-btn-text {
        padding: 14px 25px 15px 25px; 
    }
    .footer-top-logo {
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .footer-top-number-tel-img {
        display: none;
    }
    .footer-top-number-tel:nth-child(2) {
        margin-left: 0;
    }
    .project-full-content-text {
        max-width: 370px;
    }
    .info-product-content {
        flex-direction: column;
        align-items: center;
    }
    .info-product-input {
        margin-bottom: 30px;
    }
    .jobs-img {
        display: flex;
        flex-direction: row-reverse;
    }
    .jobs-img-mini {
        display: flex;
        flex-direction: column;
    }
    .jobs {
        padding-bottom: 50px;
    }
    .jobs-content-title {
        font-size: 30px;
        line-height: 28px;
        margin-bottom: 20px;
    }
    .jobs-two-img {
        display: flex;
        flex-direction: row;
    }
    .jobs-two-img-mini {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    .jobs-two {
        padding-bottom: 50px;
    }
    .jobs-two-content-title {
        font-size: 30px;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .jobs-three-img {
        display: flex;
        flex-direction: row-reverse;
    }
    .jobs-three-img-mini {
        display: flex;
        flex-direction: column;
    }
    .jobs-three {
        padding-bottom: 50px;
    }
    .jobs-three-content-title {
        font-size: 30px;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .jobs-four-img {
        display: flex;
        flex-direction: row;
    }
    .jobs-four-img-mini {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    .jobs-four {
        padding-bottom: 50px;
    }
    .jobs-four-content-title {
        font-size: 30px;
        line-height: 28px;
        margin-bottom: 20px;
    }
    .buy-big-img {
        max-width: 250px;
    }
    .buy-content-img-mini {
        padding-top: 0;
    }
    .buy-title {
        font-size: 25px;
        margin-bottom: 12px;
    }
    .buy {
        padding-top: 45px;
    }
    .buy-price-text {
        font-size: 30px;
    }
    .buy-content-price {
        padding: 24px 38px 34px 22px;
    }
    .buy-content-img-mini {
        margin-right: 12px;
    }
    .prmo-container {
        transform: translateY(0px);
    }
    .promo-info {
        margin-top: 60px;
    }
    .promo {
        padding-top: 41px;
        margin-top: 0;
    }
    .promo-block {
        
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
    }
    .line{
        display: none;
    }
    .about {
        margin-top: 140px;
    }
    .about-container {
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
    }
    .about-text h2 {
        margin-bottom: 26px;
    }
    .about  {
        margin-top: 90px;
    }
    .about-img-elem {
        left: 107px;
    }
    .about-text-content {
        margin-right: 40px;
    }
    .about-text-content p {
        max-width: 400px;

    }
    .direction-content  {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }
    .direction-item {
        margin-right: 20px;
        height: 339px;

    }
    .step-content:nth-child(3) .step-item:nth-child(1) {
        margin-right: 140px;
    }
    .contacts-content {
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .contacts-item {
        margin-right: 30px;
        margin-top: 30px;
    }
    .promo-info h1 {
        font-size: 30px;
        line-height: 30px;
    }
    .promo-info {
        margin-bottom: 53px;
    }
    .promo-production {
        background-position-y: top;

    }
    .production-title {
        max-width: 350px;
    }
    .production-text p {
        max-width: 350px;
    }
    .imazing-content {
        flex-direction: column;
    }
    .imazing {
        justify-content: center;
    }
    .info-uslug-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .info-uslug-img {
        margin-bottom: 30px;
    }

    .production-final-content {
        flex-direction: column;
    }
    .production-final-title {
        margin-bottom: 30px;
    }
    .zakaz-cotent {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .plast-form {
        flex-direction: column;
    }
    .plast-title-text {
        text-align: center;
    }
    .plast-form-item {
        margin-right: 0;
    }
    .line-step {
        display: none;
    }
    .line-step2 {
        display: none;

    }
    .info-uslug-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info-uslug-item {
        align-items: center;
        justify-content: center;
        margin-right: 20px;
    }
}
@media screen and (max-width: 768px){
    .header-media {
        width: 100%;
    }
    .header-logo img:nth-child(2) {
        display: none;
    }
    .header-logo img {
        margin-right: 20px;
    }
    .next-nav-one-content {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
 
    .metal-elem {
        width: 294px;
        background-position: center center;
        margin-right: 0;
        margin-bottom: 30px;
        height: 184px;

    }
    .poli-elem {
        width: 294px;
        height: 184px;

    }
    .next-one-item {
        padding-left: 0px;
        padding-top: 0px;
        padding: 10px 20px;
        align-items: center;
        text-align: center;
        width: 294px;
        height: 184px;

    }
    .next-nav {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .urn-elem {
        width: 294px;
        margin-left: 0;
        margin-right: 0;
        height: 184px;

    }
    .velo-elem {
        width: 294px;
        margin-right: 0;
        margin-bottom: 30px;
        height: 184px;

    }
    .bench-elem {
        width: 294px;
        height: 184px;

    }
    .ploshad-elem {
        width: 294px;
        align-items: center;
        text-align: center;
        padding: 20px 20px;
        height: 184px;

    }
    .next-one-item3 {
        align-items: center;
        text-align: center;
        padding: 20px 20px;
        height: 184px;

    }

    .footer-bottom {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 40px;
    }
    .footer-bottom-img {
        margin-top: 20px;
        order: 1;
    }
    .footer-bottom-social {
        order: 0;
    }
    .footer-bottom-social-text {
        order: 0;
    }
    .footer-bottom-social-viber {
        order: 1;
    }
    .footer-bottom-social-link  {
        order: 2;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .project-full-text {
        width: 100%;
    }
    .project-full-content {
        margin-top: 80px;
        flex-direction: column;
        align-items: center;
    }
    .project-full-content-title {
        margin-bottom: 30px;
    }
    .project-full-content-text {
        width: 100%;
    }
    .swiper-slide {
        align-items: center;
    }
    .production-swiper-container {
        height: 500px;
    }
    .project-full {
        margin-bottom: 70px;
    }
    .info-product-container {
        padding: 30px 10px 40px 10px;
    }
    .jobs-img-mini {
        margin-top: 0;
    }
    .jobs-mini-foto {
        width: 40px;
        height: 40px;
    }
    .jobs-big-foto {
        max-width: 260px;
    }
    .jobs-container {
        flex-direction: column;
        align-items: center;
    }
    .jobs-content {
        margin-top: 30px;
    }
    .jobs-title {
        margin-bottom: 30px;
        font-size: 30px;
    }
    .jobs-content-title {
        font-size: 26px;
    }

    .jobs-two-img-mini {
        margin-top: 0;
    }
    .jobs-two-mini-foto {
        width: 40px;
        height: 40px;
    }
    .jobs-two-big-foto {
        max-width: 260px;
    }
    .jobs-two-container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .jobs-two-content {
        margin-top: 30px;
    }
    .jobs-two-title {
        margin-bottom: 30px;
        font-size: 30px;
    }
    .jobs-two-content-title {
        font-size: 26px;
    }
    .jobs-two {
        margin-top: 0;
    }
    .jobs-two-img {
        margin-left: 0;
    }

    .jobs-three-img-mini {
        margin-top: 0;
    }
    .jobs-three-mini-foto {
        width: 40px;
        height: 40px;
    }
    .jobs-three-big-foto {
        max-width: 260px;
    }
    .jobs-three-container {
        flex-direction: column;
        align-items: center;
    }
    .jobs-three-content {
        margin-top: 30px;
    }
    .jobs-three-title {
        margin-bottom: 30px;
        font-size: 30px;
    }
    .jobs-three-content-title {
        font-size: 26px;
    }
    .jobs-three {
        margin-top: 0px;
    }


    .jobs-four-img-mini {
        margin-top: 0;
    }
    .jobs-four-mini-foto {
        width: 40px;
        height: 40px;
    }
    .jobs-four-big-foto {
        max-width: 260px;
    }
    .jobs-four-container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .jobs-four-content {
        margin-top: 30px;
    }
    .jobs-four-title {
        margin-bottom: 30px;
        font-size: 30px;
    }
    .jobs-four-content-title {
        font-size: 26px;
    }
    .jobs-four {
        margin-top: 0;
    }
    .jobs-four-img {
        margin-left: 0;
    }
    .buy-container {
        flex-direction: column;
    }
    .buy-title {
        width: 100%;
    }
    .tabs {
        padding-bottom: 60px;
    }
    .tabs-bottom {
        margin-top: 0;
    }
    .gotovo-slider-img {
        width: auto;
        object-fit: none;
    }
    .info-product-title {
        text-align: center;
        font-size: 30px;
    }
    .promo-block {
        justify-content: flex-start;
    }
    .promo-block-job {

    }
    .promo-block-item {
        margin-top: 20px;
    }
    .promo-info h1 {
        font-size: 30px;
    }
    .about  {
        margin-top: 150px;
        padding-bottom: 60px;
    }
    .about-container {
        flex-direction: column;
    }
    .about-text-content {
        margin-bottom: 40px;
        margin-right: 0;
    }
    .line2 {
        display: none;
    }
    .direction-container h2 {
        font-size: 30px;
        text-align: center;
    }
    .step-content {
        margin-bottom: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .step-item {
        margin-right: 0px;
        margin-top: 20px;
        width: 280px;
    }
    .step-content:nth-child(3) .step-item:nth-child(1) {
        margin-right: 0px;
    }
    .step-content:nth-child(3) {
        justify-content: center;
    }
    .step-item span {
        max-width: 192px;
    }
    .step-container h2 {
        line-height: 30px;
        font-size: 30px;
        margin-bottom: 38px;
        text-align: center;
    }
    .step {
        padding-top: 53px;
    }
    .friends-container h2 {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .friends {
        padding-bottom: 38px;
    }
    .contacts-title {
        font-size: 30px;
        line-height: 30px;
    }
    .docum-content h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .docum {
        padding-top: 50px;
    }
    .promo-container {
        transform: translateY(0px);
    }
    .promo-production {
        background-size: contain;
    }
    .swiper-bench .swiper-slide-img {
        width: 350px;
        height: 250px;
    }
    .swiper-bench .swiper-slide {
        border: none;
    }
    .swiper-bench {
        margin-top: 270px;
    }
    .bench-title-sw {
        font-size: 30px;
        line-height: 30px;
    }
    .imazing-content {
        padding: 31px 50px 38px 50px;
        align-items: center;
        text-align: center;
    }
    .imazing-title {
        margin-bottom: 20px;
    }
    .plast-form-content {
        flex-direction: column;
    }
    .imazing-btn {
        margin-top: 30px;
    }
    .info-uslug-title {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    .production-final-title {
        text-align: center;
        font-size: 30px;
        line-height: 30px;
    }
    .production-final-content {
        padding: 31px 20px 38px 20px;

    }
    .zakaz-title {
        font-size: 30px;
        line-height: 30px;
    }
    .zakaz-cotent {
        margin-top: 50px;
    }
    .zakaz-item {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .plast h2 {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        transform: translateY(-10px);

    }
    .plast {
        padding-left: 0;
    }
    .plast-form-container {
        margin-left: 0;
    }

}
@media screen and (max-width: 562px) {
    .promo-block {
        justify-content: center;
    }
    .promo-info {
        margin-top: 0;
    }
    .promo  {
        padding-top: 0;
    }
    .contacts  {
        padding-top: 95px;
    }
    .contacts-content {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .contacts-item {
        margin-right: 0;
    }
    .swiper-bench {
        margin-top: 320px;
    }
    .zakaz-title {
        text-align: center;
    }
    .pad-rihg {
        padding-right: 36px;
    }
    .plast-form {
        max-width: 300px;
    }
    .info-uslug-raiting {
        flex-direction: column;
        margin-right: 0;

    }
    .info-uslug-item {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 480px){
    .header-info-one a {
        max-width: 280px;
    }
    .header-logo p {
        display: none;
    }
    .project-full-title {
        font-size: 30px;
        line-height: 28px;
        margin-bottom: 30px;
    }
    .project-full-text {
        padding: 35px 20px 50px 20px;

    }
    .project-full-text-p {
        margin-bottom: 15px;
    }
    .project-full-content-title {
        font-size: 30px;
        line-height: 28px;
    }
    .gotovo-slider-img {
        width: 100%;
        object-fit: cover;
    }
    .gotovo-title {
        font-size: 30px;
        text-align: center;
    }
    .imazing-flex {
        flex-direction: column;
    }
    .imazing-btn {
        margin-top: 25px;
    }
    .info-product-text {
        margin-top: 20px;
    }
    .jobs {
        margin-top: 50px;
    }
    .buy-title {
        text-align: center;
        line-height: 30px;
        max-width: 280px;
    }
    .buy-content {
        margin-top: 20px;
    }
    .buy-content-img {
        flex-direction: column-reverse;
    }
    .buy-content-img-mini {
        margin-right: 0;
        flex-direction: row;
    }
    .buy-mini-img {
        margin-top: 0;
        margin-right: 10px;
    }
    .buy-content-price {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .buy-price-text {
        margin-bottom: 20px;
    }
    .tabs-block {
        margin-top: 30px;
    }
    .about-product-slider-img {
        object-fit: contain;
    }
    .gotovo-slider-img {
        object-fit: contain;
    }
    .info-product-title {
        font-size: 25px;
        line-height: 30px;
    }
    .promo-block {
        padding: 27.01px 10px 26px 10px;
        flex-direction: column;
        align-items: center;
    }
    .promo-block-item {
        margin-right: 0;
        margin-left: 0;
        text-align: center;
        align-items: center;
    }
    .promo-block-job {
        align-items: center;
        text-align: center;
    }
    .promo-block-job img {
        transform: rotate(90deg);
    }
    .promo-info h1 {
        font-size: 26px;
    }
    .promo-info p {
        margin-bottom: 22px;
    }
    .about {
        margin-top: 320px;
    }
    .about-text h2 {
        margin-bottom: 15px;
        font-size: 30px;
    }
    .about-img img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
    .direction-container h2 {
        font-size: 25px;
        line-height: 30px;
    }
    .direction-item {
        margin-right: 0;
    }
    .docum-content h2 {
        text-align: center;
        margin-bottom: 30px;
    }
    .docum-content-item {
        width: 280px;
    }
    .promo-production {
        background: none;
    }
    .promo-info {
        text-align: center;
        align-items: center;
    }
    .swiper-bench {
        margin-top: 460px;
    }
    .imazing-title {
        font-size: 30px;
        line-height: 30px;
        max-width: 280px;
    }
    .info-uslug-img {
        width: 100%;
    }
    .info-uslug-content p {
        max-width: 100%;
    }
    .info-uslug-content {
        width: 100%;
    }
    .plast-form-content {
        padding: 0px 52px;

        width: 100%;
    }
    .input__wrapper {
        width: 100%;
    }
    /* .plast-input {
        width: 100%;
    } */
    .input__file-icon-wrapper {
        margin-right: 5px;
    }
    .plast-form {
        max-width: 250px;
    }
    .input__file-button {
        max-width: 100%;
    }
    .plast-input {
        padding-top: 15px;
        padding-bottom: 19px;
    }
 
    .input__file-button {
        width: 250px;
    }
    .plast-btn {
        padding: 25px 34px;

    }
    .plast-form-container {
        width: 210px;
        padding-left: 20px;

    }
    .input__file {
        position: relative;
    }
    .info-uslug-img img{
        width: 100%;
    }
    .zakaz-item {
        flex-direction: column;
        padding: 26px 15px 35px 15px;

    }
    .zakaz-item-img {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 375px){
    .plast-form {
        max-width: 280px;
    }
    .plast-form-content {
        padding: 0px 20px;

    }
    .jobs-img {
        margin-right: 0;
    }
    .jobs-two-img {
        margin-right: 0;
    }
    .jobs-two-img-mini {
        margin-left: 5px;
    }
    .jobs-three-img {
        margin-right: 0;
    }
    .jobs-four-img {
        margin-right: 0;
    }
    .jobs-four-img-mini {
        margin-left: 5px;
    }
    .buy-content-price {
        padding: 24px 15px 30px 15px;
    }
    .buy-big-img {
        max-width: 100%;
    }
    .buy-content {
        width: 100%;
    }
    .buy-price-text-two {
        width: 100%;
    }
    .info-product-title {
        font-size: 20px;
        line-height: 25px;
        transform: translateY(-31px);
    }
    .about-img-elem {
        left: 80px;
    }
    .swiper-bench .swiper-slide-img {
        width: 100%;
        height: 100%;
    }
    .swiper-bench {
        margin-top: 540px;
    }
    .imazing-content {
        width: 100%;
        padding: 31px 20px 38px 20px;
    }
    .info-uslug-content {
        text-align: center;
    }
    
}
@media screen and (max-width: 320px){

}